body {
    margin: 0px;
}

/*Navigation Bar*/
.navbar-brand {
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
    margin-left: 15px;
}

.nav-item .nav-link {
    margin-left: 15px;

}

.container-fluid .navbar-brand:hover {
    color: #fff;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 255, 0, 0.65%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    border: 1px green;
}


/*Left Hand Side*/
.left-hand {
    color: #fff;
    padding: 7% 15%;
}

.left-hand-text {
    font-size: 10px;
}

.left-hand-heading {
    line-height: 1.2;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    font-size: 16px;
    color: orange;
    margin-left: 5px;
}

.btn {
    margin-left: 10px;
}

.left-bike-box {
    position: relative;

}

.left-bike {
    position: relative;
    top: 80px;
    right: 50px;
    height: 200px;
    width: 200px;
    background: linear-gradient(219deg, rgba(92, 81, 9, 1) 0%, rgba(219, 185, 11, 1) 50%, rgba(153, 154, 100, 1) 70%);
    ;
    border-radius: 100%;
}

.col {
    background-color: #212529;
    position: relative;
    z-index: 1;
}


/* Right Hand  Side*/
.right-col {
    position: relative;
    z-index: -1;
    background-color: #0a0a0ac0;
}

.checked {
    color: black;
}


.right-hand-btn {
    position: absolute;
    left: 470px;
    top: 35px;
    padding: 15px 15px;
}

.right-bike {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 200px;
    left: -50px;
}

/* Footer Section */
footer {
    height: 120px;
    position: relative;
    z-index: 1;
    background: radial-gradient(circle, rgba(1, 14, 11, 1) 18%, rgba(72, 37, 124, 1) 24%, rgba(10, 47, 54, 1) 54%, rgba(1, 24, 28, 1) 69%);
    ;
    display: flex;
    justify-content: space-around;
    padding: 35px 20px 15px 20px;
}

.footer-text {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    display: inline;
    margin-right: 20px;
}

.footer-image {
    position: relative;
    height: 64px;
    width: 64px;
    border-radius: 10%;
}